# Dart / Flutter
.dart_tool/
.packages
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.iml

# macOS / Xcode
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.crash
*.backup

# Others
.env
*.log
.idea/